<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Todo</h1>

    <form method="post" action="">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Input title" value="{{todo.title}}">
        <textarea name="content" placeholder="Input Content">{{todo.content}}</textarea>
        <button>Edit Todo</button>

        {% for message in messages %}
            <div>{{message}}</div>
        {% endfor %}
    </form>
</body>
</html>